.search-result-staff {
  width: 96%;
  margin: 5rem 2%;
  margin-top: 9rem;
}

.staff-table tbody {
  overflow-y: auto;
  height: calc(100vh - 17.2rem);
}

.staff-table2 tbody {
  overflow-y: auto;
  height: calc(100vh - 18.2rem);
}